body {
    background-color: #f00;
    color : bisque;
}

.classe1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
h1{
    margin : 50px;
    border: 1px solid rgb(17, 0, 255);
}